.Overlay {
    height: 100%;
    width: 100%;
    font-size: calc(10px + 2vmin);
    color: black;
    box-shadow: 0px 0px 10px 5px #776b6b;
    position: absolute;
    top: 7%;
    z-index: 4;
  }
  

