  
  .temple {
    width:57em;
    height: auto;
    z-index: 1;
  }

  @media screen and (max-width: 1700px) {
    .temple {
        width:auto;
        height: 43em;
      }
  }

  @media screen and (max-width: 900px) {
    .temple {
        width:auto;
        height: 30em;
      }
  }

  @media screen and (max-width: 600px) {
    .temple {
        width:auto;
        height: 22em;
      }
  }
