@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* .item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 25px;
  will-change: transform, opacity;
} */
 

.background {
    background: #efe7db;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .scrollText {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: #CEC8C6;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.75);
    color: #000;
    
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: auto;
    width: 25%;
    text-align: left;
    border-radius: 10px;
    flex-direction: column;
    padding: 1%;
  }

  
  .card ul {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  .card ul li {
    margin-bottom: 1em;
    z-index: 10;
  }
  
  .card .heading {
    height: auto;
    width: 20em;
    margin-top: 1.5em;
  }
  
  .card .footer {
    margin-bottom: 1.5em;
    height: auto;
    width: 20em;
  }
  .parallax {
    float: right;
    margin-right: 5%;
  }
  
  .sticky {
    margin-left: 10%;
  }
  
  .white {
    background-color: white;
    width: 45em;
    height: 30em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    z-index: -10;
    font-family: 'Open Sans';
  }
  
  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
  
  .inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    border: 2px solid #2f4b31;
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
  }
  
  .outer-border {
    border: 2px solid #2f4b31;
    height: 99%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .mid-border {
    border: 6px solid #2f4b31;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
    border-radius: 10px;
  }
  
  iframe {
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.4);
    margin-top: 1em;
    margin-bottom: 1.5em;
    border: 0;
    width: 80%;
    height: 400px;
  }
  
.info {
  justify-content: flex-end;
  position: relative;
  z-index: 4;
}